flows/Update_Standard_owner_applicants-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Update_Applicant_list</name>
        <label>Update Applicant list</label>
        <locationX>882</locationX>
        <locationY>241</locationY>
        <assignmentItems>
            <assignToReference>Final_Applicant_list</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Record_applicant</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_new_applicant_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_standard_owner</name>
        <label>Update standard owner</label>
        <locationX>519</locationX>
        <locationY>390</locationY>
        <assignmentItems>
            <assignToReference>Record_applicant.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record_applicant.Owner__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Applicant_list</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Update Standard owner_applicants {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Standard owner_applicants</label>
    <loops>
        <name>Loop_on_new_applicant_records</name>
        <label>Loop on new applicant records</label>
        <locationX>513</locationX>
        <locationY>99</locationY>
        <assignNextValueToReference>Record_applicant</assignNextValueToReference>
        <collectionReference>List_applicantrecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_standard_owner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Applicant_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Applicant_records</name>
        <label>Update Applicant records</label>
        <locationX>924</locationX>
        <locationY>96</locationY>
        <inputReference>Final_Applicant_list</inputReference>
    </recordUpdates>
    <startElementReference>Loop_on_new_applicant_records</startElementReference>
    <variables>
        <name>Final_Applicant_list</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Applicant__c</objectType>
    </variables>
    <variables>
        <name>List_applicantrecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Applicant__c</objectType>
    </variables>
    <variables>
        <name>Record_applicant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Applicant__c</objectType>
    </variables>
</Flow>
